/* ========================================================================
   Component: Pagination
 ========================================================================== */
.b-pagination {
	text-align: center;
}
.b-pagination__item {
	display: inline-block !important;
	vertical-align: top;
	margin: 0 2px;
}
.b-pagination__item_disabled {
	display: none;
}
.b-pagination__link {
	font-size: 17px;
	opacity: 0.60;
	filter: alpha(opacity=60);
	color: #181818 !important;
	display: block;
    padding: 2px 10px !important;
	border: 1px solid #525252 !important;
	background: none !important;
}
.b-pagination__link_active,
.b-pagination__link:hover {
	color: #fff!important;
	opacity: 1;
	filter: alpha(opacity=100);
	background: #525252!important
}
