/* ========================================================================
   Component: Input
 ========================================================================== */
/* Sub-object: `checkbox` https://codepen.io/CreativeJuiz/pen/BiHzp
 ========================================================================== */
.b-checkbox-styled:not(:checked),
.b-checkbox-styled:checked {
	position: absolute;
	left: -9999px;
}
.b-checkbox-styled:not(:checked) + label,
.b-checkbox-styled:checked + label {
	font-weight: normal;
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
	margin-bottom: 0;
}
/* checkbox aspect */
.b-checkbox-styled + label:before {
	content: '';
	position: absolute;
	left: 0; 
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #525252;
	border-radius: 3px;
	background: #fff;
}
/* checked mark aspect */
.b-checkbox-styled:not(:checked) + label:after,
.b-checkbox-styled:checked + label:after {
    content: "✓";
    font-size: 22px;
    color: rgb(244, 129, 31);
    position: absolute;
	top: -10px;
    left: 3px;
    transition: all 0.2s;
}
/* checked mark aspect changes */
.b-checkbox-styled:not(:checked) + label:after {
	opacity: 0;
}
.b-checkbox-styled:checked + label:after {
	opacity: 1;
}
/* disabled checkbox */
.b-checkbox-styled:disabled:not(:checked) + label:before,
.b-checkbox-styled:disabled:checked + label:before {
	border-color: #bbb;
	background-color: #ddd;
}
.b-checkbox-styled:disabled:checked + label:after {
	color: #999;
}
.b-checkbox-styled:disabled + label {
	color: #aaa;
}
