/* ========================================================================
   Component: Input
 ========================================================================== */
/* Sub-object: `radio` https://codepen.io/CreativeJuiz/pen/BiHzp
 ========================================================================== */
.b-radio-styled:not(:checked),
.b-radio-styled:checked {
	position: absolute;
	left: -9999px;
}
.b-radio-styled:not(:checked) + label,
.b-radio-styled:checked + label {
	font-weight: normal;
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
	margin-bottom: 0;
}
/* radio aspect */
.b-radio-styled:not(:checked) + label:before,
.b-radio-styled:checked + label:before {
	content: '';
	position: absolute;
	left: 0; 
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #525252;
	border-radius: 50%;
	background: #fff;
}
/* checked radio aspect */
.b-radio-styled:not(:checked) + label:after,
.b-radio-styled:checked + label:after {
	content: '';
	background: #525252;
	border-radius: 50%;
	position: absolute;
	width: 8px;
	height: 8px;
	left: 5px;
	top: 5px;
	transition: all .1s;
}
/* checked radio aspect changes */
.b-radio-styled:not(:checked) + label:after {
	opacity: 0;
}
.b-radio-styled:checked + label:after {
	opacity: 1;
}
/* disabled radio */
.b-radio-styled:disabled:not(:checked) + label:before,
.b-radio-styled:disabled:checked + label:before {
	border-color: #bbb;
	background-color: #ddd;
}
.b-radio-styled:disabled:checked + label:after {
	color: #999;
}
.b-radio-styled:disabled + label {
	color: #aaa;
}

