/* ========================================================================
   Component: Input
 ========================================================================== */
/* Sub-object: `b-switcher` http://codepen.io/CreativeJuiz/pen/zqKtp
 ========================================================================== */
.b-switcher:not(:checked),
.b-switcher:checked {
  position: absolute;
  opacity: 0.01;
}
.b-switcher:not(:checked) + label,
.b-switcher:checked + label {
  position: relative;
  padding-left: 4.5em;
  cursor: pointer;
  margin-bottom: 0;
}
.b-switcher:not(:checked) + label:before,
.b-switcher:checked + label:before,
.b-switcher:not(:checked) + label:after,
.b-switcher:checked + label:after {
  content: '';
  position: absolute;
}
.b-switcher:not(:checked) + label:before,
.b-switcher:checked + label:before {
  left: 0; top: -.1em;
  width: 4em; height: 1.85em;
  background: #DDDDDD;
  border-radius: 1em;
  transition: background-color .2s;
}
.b-switcher:not(:checked) + label:after,
.b-switcher:checked + label:after {
  width: 1.4em; height: 1.4em;
  transition: all .2s;
  border-radius: 50%;
  background: #7F8C9A;
  top: .12em; left: .24em;
}
/* on checked */
.b-switcher:checked + label:before {
  background: #d8003a; 
}
.b-switcher:checked + label:after {
  background: #fff;
  left: 2.4em;
}
.b-switcher:checked + label .ui,
.b-switcher:not(:checked) + label .ui:before,
.b-switcher:checked + label .ui:after {
  position: absolute;
  left: .6em;
  width: 6em;
  border-radius: 1em;
  font-size: .875em;
  font-weight: bold;
  transition: all .2s;
}
.b-switcher:not(:checked) + label .ui:before {
  content: "no";
  left: 2.35em;
  top: .2em;
}
.b-switcher:checked + label .ui:after {
  content: "yes";
  top: .2em;
  left: .2em;
  color: #39D2B4;
}
.b-switcher:focus + label:before {}
