/* ========================================================================
   Component: Button
 ========================================================================== */
 /* Modifier: `btn_default`
 ========================================================================== */
.btn {
	white-space: normal !important;
	word-wrap: break-word; 
}
.btn_default {
	font-size: 13px;
	font-weight: 600;
	color: #fff;	
	text-transform: uppercase;
}
/* Modifier: `btn_md`
========================================================================== */
.btn_md {
	padding: 8px 35px;
}
/* Modifier: `btn_orange`
========================================================================== */
.btn_orange {
	color: #fff;
	background-color: #f4811f;
	border: 2px solid #f4811f	
}
.btn_orange:hover,
.btn_orange:focus {
	color: #fff;
	background-color: #e06f1c
}
/* Modifier: `btn_bordered`
========================================================================== */
.btn_bordered {
	color: #f4811f;
	background: none;
	border: 2px solid #f4811f
}
.btn_bordered:hover {
	color: #fff;
	background-color: #f4811f;
}

/* Modifier: `btn_disabled`
 ========================================================================== */
.btn_disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
}