/* ========================================================================
   Component: Footer
 ========================================================================== */
.b-footer { 
	background-color: #525252;
    padding: 10px 0;
}
.b-footer__right {
	text-align: right;
}
.b-footer__text {
	font-size: 14px;
	color: #fff;	
}
.b-footer__link {
	font-size: 14px;
	color: #fff;
	text-decoration: underline;
}
.b-footer__link:hover {
	text-decoration: none;
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){
	.b-footer {
		height: auto;
		padding: 25px 0;
	}
}
@media (max-width: 767px){
	.b-footer {
		text-align: center
	}
	.b-footer__right {
		text-align: center;
	}
	.b-footer__link,
	.b-footer__text	{
		display: inline-block;
		margin-top: 10px;
	}
}
@media (max-width: 575px){
	
}
@media (max-width: 480px){}
