/* ========================================================================
   Component: b-header
 ========================================================================== */
/* Sub-object: `b-header-top`
 ========================================================================== */
.b-header-top {
	padding: 7px 0;
}
.b-header__item {
	display: inline-block;
}
.b-header__link:hover {
	text-decoration: underline;
}
.b-header__item:first-child .b-header__link_bold:after {
	content: '|';
	display: inline-block;
	vertical-align: middle;
    margin: -5px 2px 0 5px;
}
.b-header__link {
	font-size: 14px;
	color: #525252;
	margin-left: 7px;
}
.b-header__link:hover {
	text-decoration: underline;
}
.b-header__link_bold {
	font-size: 16px;
	font-weight: 600;
	color: #f4811f;
	text-decoration: underline;
	margin: 0;
}
.b-header__link_bold:hover {
	text-decoration: none;
}

/* Sub-object: `b-header-main`
 ========================================================================== */
.b-header-main {
	background-color: #fff;
	padding: 20px 0 10px;
}
.b-header__logo {
    display: block;
    width: 232px;
    height: 32px;
    background: url(../img/logo.svg) no-repeat;
	background-size: 100%;	
    text-indent: -9000px;
    position: relative;
    overflow: hidden;	
	margin-top: 4px;
}
.b-header__search {
	position: relative;
}
.b-header__search-category {
	font-size: 14px;
	color: #525252;	
	position: absolute;
	z-index: 5;
    right: 34px;
    top: 0;
	padding: 0 15px;
	height: 34px;
	line-height: 34px;
	border-left: 1px solid #525252
}
.b-header__search-control {
	font-size: 14px;
	color: #525252;
	position: relative;
	width: 100%;
	min-height: 34px;
	height: 34px;
	overflow: hidden;
	border: none;
	border-radius: 3px;
	background: none;
	border: 1px solid #525252;
	box-shadow: none!important;
}
.b-header__search-btn {
	position: absolute;
	z-index: 5;
    right: 0;
    top: 0;
	width: 34px;
	height: 34px;
	border: none;
	background-color: #f4811f;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}
.b-header__search-btn:before{
	content: "\f002";
	font-family: "FontAwesome";
	font-size: 14px;
	color: #fff;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}
.b-header__search-btn:hover:before {
	color: #fff;
}
.b-header__city {
	font-size: 12px;
	float: right;
	font-weight: 300;
	color: #525252;
    margin: 5px 30px 0 0;
	display: block;
}
 
/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){
	.b-header__logo {
		width: 100%;
	}	
}
@media (max-width: 991px){
	.b-header__logo {
	    width: 232px;
		margin: 0 auto;
	}	
	.b-header__search {
		margin-top: 15px;
	}	
	.b-header__city {
		font-size: 14px;
		text-align: center;
		float: none;
		margin: 10px 0;
	}
}
@media (max-width: 767px) {

}
@media (max-width: 575px){}
@media (max-width: 480px){

}











