/* ========================================================================
   Component: b-form
 ========================================================================== */
 
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-weight: normal;
	color: #9b9b9b;
}
::-moz-placeholder { /* Firefox 19+ */
	font-weight: normal;
	color: #9b9b9b;
}
:-ms-input-placeholder { /* IE 10+ */
	font-weight: normal;
	color: #9b9b9b;
}
:-moz-placeholder { /* Firefox 18- */
	font-weight: normal;
	color: #9b9b9b;
	opacity: 1;
}
.is-required {
	border-color: #d70038
}
