/* ========================================================================
   Component: b-table
 ========================================================================== */
.b-table .table-responsive {
	border: none;
	overflow-x: visible;
}
.b-table .table {
	border-spacing: 0;	
	white-space: nowrap;
	margin-top: 15px;
}
.b-table label {
	margin-bottom: 0;
}
.b-table .table > thead > tr > th {
	font-weight: 300;
	text-align: center;
    border-top: none;
	border-bottom: none;    
	padding: 8px 0;
}
.b-table .table > thead > tr > th label:before {
	top: 4px;
}
.b-table .table > thead > tr:first-child > th:first-child {
	text-align: left;	
}
.b-table .table > thead > tr:first-child .btn {
	margin-left: 10px;
}
.b-table .table > thead > tr > th .btn {
    font-size: 14px;
    font-weight: normal;
    color: #525252;
    background-color: #d8d8d8;
    padding: 4px 15px;	
	border-radius: 0;
	text-transform: none;
}
.b-table .table > tbody > tr > td {
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #d8d8d8;
}
.b-table .table > tbody > tr > td:first-child {
	text-align: left;
}
.b-table .table .input-group {
	display: inline-block;
	vertical-align: top;
}
.b-table__actions {
	float: right;
}
.b-table__actions .fa-bars {
	font-size: 21px;
	color: #6d6b6c;
}
.b-table__actions i {
    margin-right: 8px;
}
.b-table__actions .confirm-delete {
    color: #a94442 !important;
}
.b-table-btn {
	background: none;
	border: none;
	outline: none;
	text-decoration: underline;
	cursor: pointer;
}
.b-table-checkbox:not(:checked),
.b-table-checkbox:checked {
	position: absolute;
	left: -9999px;
}
.b-table-checkbox:not(:checked) + label,
.b-table-checkbox:checked + label {
	font-weight: normal;
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
}
/* checkbox aspect */
.b-table-checkbox + label:before {
	content: '';
	position: absolute;
	left: 0; 
	top: 0;
	width: 24px;
	height: 24px;
	background: #fff;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
/* checked mark aspect */
.b-table-checkbox:not(:checked) + label:after,
.b-table-checkbox:checked + label:after {
    content: "✓";
    font-size: 32px;
    color: #f4811f;
    position: absolute;
    top: -17px;
    left: 3px;
    transition: all 0.2s;
}
/* checked mark aspect changes */
.b-table-checkbox:not(:checked) + label:after {
	opacity: 0;
}
.b-table-checkbox:checked + label:after {
	opacity: 1;
}
/* disabled checkbox */
.b-table-checkbox:disabled:not(:checked) + label:before,
.b-table-checkbox:disabled:checked + label:before {
	border-color: #bbb;
	background-color: #ddd;
}
.b-table-checkbox:disabled:checked + label:after {
	color: #999;
}
.b-table-checkbox:disabled + label {
	color: #aaa;
}



/* Modifier: `b-table_reports`
 ========================================================================== */
.b-table_reports .table > thead > tr:first-child > th:first-child {
	text-align: center;		
}
.b-table_reports .table > tbody > tr > td:first-child {
	text-align: center;
}
/* Modifier: `b-table_inbox`
 ========================================================================== */
.b-table__inbox-title {
	text-align: left;
	display: inline-block;
	padding-left: 5px;
}
.b-table__inbox-title strong {
	margin: 0 5px;
}
.b-table__inbox-text {
	font-style: italic;
	max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
	display: inline-block;
	vertical-align: middle;
	margin-top: -5px;
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){
	.b-table__inbox-text {
		max-width: 261px;
	}
}
@media (max-width: 991px){
	
}
