/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-aside-category`
 ========================================================================== */
.b-aside-category {
	height: 400px;
	overflow: auto;
	background-color: #fff;
}
.b-aside-category__link {
	font-size: 14px;
	color: #525252;
	display: block;
	padding: 5px 20px;
	position: relative
}
.b-aside-category__link:hover {
	background-color: #e7e7e7;
}
.b-aside-category__link:after {
	font-family: 'FontAwesome';
	content: '\f105';
	color: #181818;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(-50%, -50%);
}


/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){
	.b-aside-category {
		height: auto;
		margin-bottom: 5px;
	} 
	.b-aside-category__link {
		padding: 8px 20px;
	}	
}
@media (max-width: 767px){
	.b-product-carousel__caption-text {
		display: none;
	}
}
@media (max-width: 575px){}
@media (max-width: 480px){}
