/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-aside`
 ========================================================================== */
.b-user-pic {
	text-align: center;
	background-color: #fff;
	height: 250px;
	display: block;
	position: relative;
}
.b-user-pic:before {
	font-family: 'FontAwesome';
	content: "\f03e";
	font-size: 73px;
	color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.b-user-pic__img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	position: relative;
	z-index: 2;
}
.b-user-pic__link {
	font-size: 16px;
	font-weight: normal;
	color: #f4811f;
	cursor: pointer;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	z-index: 3;
	margin-bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
}
.b-user-menu {
	margin-top: 10px;
}
.b-user-menu__toggle {
	float: none;
	background-color: #fff;
	width: 100%;
	cursor: pointer;
	margin-bottom: 0;
	margin: 0 0 10px;
	border-radius: 0;
	padding: 15px 25px;
	display: none;
	border: none;
}
.b-user-menu__toggle-text {
	color: #646464;
	float: left;
}
.b-user-menu__hamburger {
	float: right;
}
.b-user-menu__hamburger .icon-bar {
	background-color: #646464
}
.b-user-menu__link {
	font-size: 16px;
	color: #646464;
	display: block;
	padding: 15px 25px;
	position: relative;
	background-color: #fff;
}
.b-user-menu__link_active,
.b-user-menu__link:hover,
.b-user-menu__link:focus {
	color: #fff;
	background-color: #f3811e;
}
.b-user-menu__link .badge {
	position: absolute;
	top: 17px;
	right: 15px;
}
.b-user-schedule {
	padding: 15px;
	background-color: #fff;
}
.b-user-schedule__item {
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
	width: 22px;
}
.b-user-schedule__weekends {
	color: #f4811f;
}
.b-user-schedule__time {
	margin: 10px 0;
	font-size: 16px;
}
.b-user-schedule__weekdays {
	display: inline-block;
	margin-right: 10px;
}
.b-user-schedule__weekends {
	color: #f4811f;
	display: inline-block;
}
.b-user-schedule__lunch-break {
	font-size: 16px;
}


/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){	
	.b-aside {
		margin-bottom: 15px;
	}
	.b-user-menu__toggle {
		display: block;
	}
}
@media (max-width: 767px){

}
@media (max-width: 575px){}
@media (max-width: 480px){}
