/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-basket`
 ========================================================================== */
.b-basket {
    background-color: #fff;
    padding: 15px 15px 5px;
	position: relative;
}
.b-basket__item {
	padding: 15px 0;
	border-top: 2px solid #f1f1f1;
}
.b-basket__img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 15px;
}
.b-basket__img img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.b-basket__desc {
	font-size: 14px;
	color: #525252;
	overflow: hidden;
}
.b-basket-control {
	font-size: 16px;
	color: #525252;
}
.b-basket-control__item {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	position: relative
}
.b-basket-control__discount {
    font-size: 12px;
    color: #ff0000;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 104px;
}
.b-basket-control__multiply,
.b-basket-control__equals {
	font-size: 30px;
	font-weight: bold;
}	
.b-basket-control__field {
	text-align: center;
	width: 40px;
}
.b-basket-control__field .form-control {
	text-align: center;
	height: 26px;
	line-height: 26px;
	border-radius: 3px;
	border-color: #525252;	
}
.b-basket-control__increase,
.b-basket-control__decrease {
	font-size: 20px;
	color: #f4811f;
	background: none;
	border: none;
	outline: none;
	line-height: 1;
}
.b-basket__btn {
	font-size: 16px;
	color: #f4811f;
	background: none;
	border: none;
	margin-top: 20px;
}
.b-basket-settings {
	padding: 15px 0;
	border-top: 2px solid #f1f1f1;
}
.b-basket-settings .bootstrap-select {
	width: 200px!important;
	height: 30px;
	background: none;
	margin-right: 15px;
}
.b-basket-settings .bootstrap-select .btn {
	color: #525252;
	padding: 5px 12px 2px;
	background: none;
}
.b-basket-settings .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	font-size: 12px;
	text-transform: none;
}
.b-basket-total {
	float: right;
}
.b-basket-total__text {
	font-size: 17px;
	display: inline-block;
}
.b-basket-total__text span {
	color: #f4811f;
}
.b-basket-total__btn {
	display: inline-block;
	margin-left: 15px;
}
.b-basket-proceed {
	padding: 15px 0;
	border-top: 2px solid #f1f1f1;
}
.b-basket-proceed-form {
	margin-top: 10px;
}
.b-basket-proceed-form__label {
	font-size: 12px;
	font-weight: 300;
	color: #525252;
}
.b-basket-proceed {
	font-size: 16px;
}
.b-basket-proceed .form-control {
	height: 26px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #525252;
}
.b-basket-proceed .form-control[disabled] {
    background-color: #eeeeee!important;
    opacity: 1;
}
.b-basket-proceed__textarea {
	min-height: 132px;
}
.b-basket-total__btn_proceed {
	margin: 10px 0 0 0;
	width: 100%;
}
.b-basket-overlay {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.85);	
}
.b-basket-overlay:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.b-basket-overlay__content {
	display: inline-block;
	vertical-align: middle;	
}
.b-basket-overlay__text {
	display: inline-block;
	vertical-align: middle;	
	margin-left: 25px;
	max-width: 200px;
	text-align: left;	
}
.b-basket-overlay__title {
	font-size: 16px;
	font-weight: bold;
	color: #f4811f;
	text-transform: uppercase;
}
.b-basket-overlay__text p {
	font-size: 12px;
	line-height: 1.25;
	color: #525252;
	margin-top: 15px;
}
.b-basket-overlay__text a {
	color: #525252;
	text-decoration: underline
}
.b-basket-overlay__text a:hover {
	text-decoration: none
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){
	.b-basket-total {
		margin-top: 15px;
	}	
}
@media (max-width: 991px){
	.b-basket-total {
		float: none;
	}
}
@media (max-width: 767px){
	.b-basket-control {
		margin: 15px 0;
	}
	.b-basket-total__text {
		display: block;
	}	
	.b-basket-total__btn {
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}
	.b-basket-settings .bootstrap-select {
		width: 100%!important;
		margin-right: 0;
		margin-bottom: 5px;
	}
	.b-basket-proceed-form {
		margin-bottom: 10px;
	}
	
	.b-basket-overlay__text {
		text-align: center;
		margin-left: 0;
		margin-top: 15px;
		max-width: 300px;
		display: block;
	}
}
@media (max-width: 575px){}
@media (max-width: 480px){}
