/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-category`
 ========================================================================== */
.b-category {
	background-color: #fff;
	padding: 20px 15px 15px;
}
.b-category__img {
	float: left;
	width: 35px;
}
.b-category__link {
	font-size: 16px;
	font-weight: 600;	
	color: #525252;	
	line-height: 1.2;
	margin-bottom: 15px;
	display: block
}
.b-category__link:hover {	
	color: #9e9e9e;	
}
.b-category__link span {
	overflow: hidden;
}
.b-category__link_light {
	color: #525252!important;	
	font-weight: normal;
	text-decoration: underline;
}
.b-category__link_light:hover {
	text-decoration: none;
}


/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){}
@media (max-width: 767px){}
@media (max-width: 575px){}
@media (max-width: 480px){}
