/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-category-carousel`
 ========================================================================== */
.b-category-carousel {
	background-color: #fff;
	padding: 15px;	
}
.b-category-carousel .owl-prev, 
.b-category-carousel .owl-next {
    width: 36px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
	background-color: #d8d8d8;	
	opacity: 1;
}
.b-category-carousel .owl-prev {
	left: 15px;
}
.b-category-carousel .owl-next {
	right: 15px;
}
.b-category-carousel .owl-prev:before,
.b-category-carousel .owl-next:before {
    top: 13px;
    width: 13px;
    height: 13px;
    border-left: 2px solid #979797;
    border-top: 2px solid #979797;
}
.b-category-carousel:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
	background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
    width: 25%;
    height: 70px;
    z-index: 9;	
}
.b-category-carousel:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
	background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
    width: 25%;
    height: 70px;
    z-index: 9;
}
.b-category-carousel__link {
	font-size: 14px;
	color: #525252;
	padding: 10px 15px;
	background-color: #e7e7e7;
	display: block
}
 
/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){}
@media (max-width: 767px){
	.b-product-carousel__item {
		height: auto;
	}
}
@media (max-width: 575px){}
@media (max-width: 480px){}
