/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-chat`
 ========================================================================== */
.b-chat {
	background-color: #fff;
	padding: 15px;
}
.b-chat__item {
    margin-bottom: 15px;
}
.b-chat-img {
	border-radius: 6px;
}
.b-chat__item_companion .b-chat__name {
	color: #f4811f;
}
.b-chat__body {
    margin-left: 60px;
}
.b-chat__text {
    margin: 0;
    color: #777777;
}
.b-chat-input {
	padding: 15px;
	background-color: #fff;
	border-top: solid 2px #f4811f;
}
.b-chat-input__attachment {
	font-size: 30px;
	color: #525252;
	display: block;
	text-align: center;
	cursor: pointer;
}
.b-chat-input .form-control {
	min-height: 38px;
}
.b-chat-input__btn {
	font-size: 15px;
	width: 100%;
}




/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){
	.b-chat-input__btn {
		margin-top: 10px;
	}
}
@media (max-width: 767px){

}
@media (max-width: 575px){}
@media (max-width: 480px){}
