/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-filter`
 ========================================================================== */
.b-filter {
	padding: 20px 0;
}
.b-filter__title {
	font-size: 16px;
	font-weight: 600;
	color: #525252;	
	cursor: pointer;
	margin-bottom: 5px;
	position: relative;
}
.b-filter__title:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
    transform: translate(-50%, -50%);	
	color: #000;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.b-filter__title.collapsed:after {
    color: #f4811f;
    border-top: none;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
}
.b-filter__subtitle {
	font-size: 15px;
	color: #525252;	
	margin-bottom: 5px;
}
.b-filter__body {
	padding-left: 10px;
}
.b-filter__form-control {
	border-radius: 6px;
	background-color: #ffffff;
	height: 25px;
	width: 70px;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);	
	display: inline-block;
}
.b-filter__group {
	margin-bottom: 10px;
}
.b-filter-color__item {
	display: inline-block;
}
.b-filter-colorbox:not(:checked),
.b-filter-colorbox:checked {
	position: absolute;
	left: -9999px;
}
.b-filter-colorbox:not(:checked) + label,
.b-filter-colorbox:checked + label {
	font-weight: normal;
	position: relative;
	cursor: pointer;
	border: solid 1px #979797;
	width: 25px;
	height: 25px;
    vertical-align: top;	
}
/* checked mark aspect */
.b-filter-colorbox:not(:checked) + label:after,
.b-filter-colorbox:checked + label:after {
    content: "✓";
    font-size: 32px;
    color: #f4811f;
    position: absolute;
    top: -17px;
    left: 3px;
    transition: all 0.2s;
}
/* checked mark aspect changes */
.b-filter-colorbox:not(:checked) + label:after {
	opacity: 0;
}
.b-filter-colorbox:checked + label:after {
	opacity: 1;
}
.b-filter__subcategory {
	padding-left: 10px;
}
.b-filter__link {
	font-size: 14px;
	color: #525252;	
}
.b-filter__link:hover {
	text-decoration: underline;
}
.b-filter__main-link {
	font-size: 16px;
	color: #525252;
	text-decoration: underline;
}
.b-filter__main-link:hover {
	text-decoration: none;
}
 
 
 
 
 
/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){	
}
@media (max-width: 767px){

}
@media (max-width: 575px){}
@media (max-width: 480px){}
