/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-product-card`
 ========================================================================== */
.b-product-card {
	background-color: #fff;
	padding: 15px 15px 5px;
}
.b-product-card__heading {
	padding-bottom: 10px;
}
.b-product-card__dropdown {
	display: inline-block;
	vertical-align: top;
}
.b-product-card__toggle {
	font-size: 16px;
	font-weight: 300;
	color: #525252;
}
.b-product-card__link {
	font-size: 16px;
	color: #525252;
	text-decoration: underline;
	margin-left: 25px;
	display: inline-block;
	vertical-align: top;
}
.b-product-card__link:hover {
	text-decoration: none;
}
.b-product-card__stars {
	display: inline-block;
	margin-left: 15px;
}
.b-product-card__stars .br-theme-fontawesome-stars .br-widget a {
	font-size: 15px;
}
.b-product-card__divider {
	height: 2px;
	background-color: #f1f1f1;
}
.b-product-card__dropdown-menu {
	font-size: 12px;
	font-weight: 300;
	color: #525252;
	width: 290px;
	top: 0;
	padding: 5px 15px;
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.b-product-card__img {
	width: 80px;
	height: 80px;
	float: left;
	border: 1px solid #f4811f	
}
.b-product-card__desc {
	float: left;
	width: 175px;
	padding-left: 10px;
}
.b-product-card__desc-link {
	color: #f4811f;
	display: block;
	margin: 3px 0;
}
.b-product-card__desc-link:hover {
	text-decoration: underline;
}
.b-product-card__btn {
	padding: 8px 25px;
}
.b-product-card__basket-control {
	margin-top: -11px;
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){
	.b-product-card__btn {
		width: 100%;
		margin-bottom: 5px;
	}	
}
@media (max-width: 991px){}
@media (max-width: 767px){
	.b-product-card__dropdown {
		display: block;
	}
	.b-product-card__link {
		margin-left: 0;
	}	

}
@media (max-width: 575px){}
@media (max-width: 480px){}
