/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-product-carousel`
 ========================================================================== */
.b-product-carousel__item {
	height: 240px;
	position: relative;
}
.b-product-carousel__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.b-product-carousel__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.75);
}
.b-product-carousel__caption-title {
	font-size: 16px;
	font-weight: bold;
	color: #f4811f;	
}
.b-product-carousel__caption-price {
	font-size: 16px;
	color: #525252;
}
 
/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){}
@media (max-width: 767px){
	.b-product-carousel__item {
		height: auto;
	}
}
@media (max-width: 575px){}
@media (max-width: 480px){}
