/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-product-slider`
 ========================================================================== */
.b-product-slider__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.75);
}
.b-product-slider__caption-title {
	font-size: 16px;
	font-weight: bold;
	color: #525252;	
}
.b-product-slider__caption-price {
	font-size: 24px;
	font-weight: bold;
	color: #f4811f;
}
.b-product-slider__caption-text {
	font-size: 14px;
	color: #525252;
}
.b-product-slider-thumb__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.75);
}
.b-product-slider-thumb__caption-title {
	font-size: 14px;
	font-weight: bold;
	color: #525252;			
}
.b-product-slider-thumb__caption-price {
	font-size: 14px;
	font-weight: bold;
	color: #f4811f;
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){}
@media (max-width: 767px){
	.b-product-slider__caption-text {
		display: none;
	}	
}
@media (max-width: 575px){}
@media (max-width: 480px){}
