/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-product-tab`
 ========================================================================== */
.b-product-tab {
	background-color: #e7e7e7;
	padding: 0 15px;
}
.b-product-tab__item {
	float: left;
}
.b-product-tab__link {
	font-size: 16px;
	color: #525252;
	display: block;
	padding: 7px 25px;
}
.b-product-tab__item.active .b-product-tab__link {
	background-color: #fff;
}
.b-product-tab__content {
	padding: 0 15px;
	background-color: #fff;
}
.b-product-tab__desc {
    padding: 20px 15px;
}
.b-product-tab__desc-item {
	font-size: 16px;
	color: #525252;
	margin-top: 5px;
}
.b-product-tab__desc .bootstrap-select {
	margin-bottom: 20px;
}
.b-product-tab__desc .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	font-size: 13px;
}
 
 
/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){}
@media (max-width: 767px){}
@media (max-width: 575px){}
@media (max-width: 480px){}
