/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-product-grid`
 ========================================================================== */
.b-product-grid {
	height: 218px;
	display: block;
	position: relative;
	margin-bottom: 10px;
}
.b-product-grid__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.b-product-grid__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px 20px;
	background-color: rgba(255, 255, 255, 0.75);
}
.b-product-grid__caption-title {
	font-size: 15px;
	font-weight: bold;
	color: #f4811f;			
}
.b-product-grid__caption-price {
	font-size: 14px;
	font-weight: bold;
	color: #525252;
}
/* Modifier: `b-product-grid_sm`
 ========================================================================== */
.b-product-grid_sm {
	height: 160px;
}
.b-product-grid_sm .b-product-grid__caption {
	padding: 8px 10px;
}
.b-product-grid_sm .b-product-grid__caption-title {
	font-size: 13px;			
}
.b-product-grid_sm .b-product-grid__caption-price {
	font-size: 13px;			
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){}
@media (max-width: 767px){
	.b-product-grid {
		height: auto;
	}
}
@media (max-width: 575px){}
@media (max-width: 480px){}
