/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-report`
 ========================================================================== */
.b-report__desc {
	background-color: #fff;
	padding: 10px 0;
	margin-bottom: 5px;
}
.b-report__desc-item {
	font-weight: 300;
	font-size: 16px;
	padding: 5px 0;
}
.b-report__desc-link {
	color: #525252;
}
.b-report__date {
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	background-color: #fff;
	padding: 10px 15px;
}
.b-report-group {
	margin-top: 5px;
	background-color: #fff;	
	padding: 0 15px;
}
.b-report-group__item {
	padding: 15px 0;
	border-bottom: 2px solid #f1f1f1
}
.b-report-group__item:last-child {
	border-bottom: none;
}
.b-report-group .btn {
	font-size: 15px;
}
.b-report-group__text {
	font-size: 16px;
	font-weight: 300;
}
.b-report-alert {
	font-size: 16px;
	font-weight: 600;
	color: #ef6c19;	
	border-radius: 8px;
	background-color: #f1f1f1;
	border: solid 2px #f4811f;
	margin: 10px 0;
	padding: 6px 15px;
}
.b-report-alert__title {
	float: left;
	width: 60%;
}
.b-report-alert__links {
	float: right;
}
.b-report-alert__link {
	color: #ef6c19;
	display: inline-block;
	margin-left: 10px;
	text-decoration: underline;
}
.b-report-alert__link:hover {
	text-decoration: none;
}
.b-report-alert__link_decline {
	color: #fb0007
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){	
	.b-report__date {
		text-align: left;
	}
}
@media (max-width: 767px){
	.b-report-group__text {
		margin-top: 10px;
	}
	.b-report-alert__title {
		width: 100%;
	}	
}
@media (max-width: 575px){}
@media (max-width: 480px){}
