/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-reviews`
 ========================================================================== */
.b-reviews-filter {
	padding: 10px 0
}
.b-reviews-filter__title {
	font-size: 18px;
	color: #525252;
}
.b-reviews-filter__title span {
	font-weight: 600;
	color: #f4811f;
}
.b-reviews-filter .bootstrap-select {
	width: 125px!important;
	float: right!important;
	height: 30px;
	background: none;
}
.b-reviews-filter .bootstrap-select .btn {
	color: #525252;
	padding: 5px 12px 2px;
	background: none;
}
.b-reviews-filter .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	font-size: 12px;
	text-transform: none;
}
.b-reviews {
	padding: 20px 0;
	border-top: 1px solid #d8d8d8
}
.b-reviews__ava {
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid #979797;
	position: relative;
}
.b-reviews__ava img {
	width: 100%;
	height: 100%;
	display: block;
	obeject-fit: cover;
}
.b-reviews__rate {
	font-weight: 700;
	font-size: 16px;
	color: #f4811f;
	position: absolute;
	text-align: center;
	line-height: 56px;
	right: -30px;
	top: -25px;
	background: url(../img/rate.svg) no-repeat;
	width: 58px;
	height: 58px;
}
.b-reviews__about {
	font-size: 16px;
	color: #f4811f; 
	margin-bottom: 0;
	margin-right: 10px;
	display: inline-block;	
}
.b-reviews__desc {
	padding-left: 35px;
	overflow: hidden;
}
.b-reviews__text {
	font-size: 15px;
	padding-top: 15px;
}
.b-reviews__link {
	color: #f4811f;
	text-decoration: underline;
}
.b-reviews__link_gray {
	color: #525252;
}
.b-reviews__link:hover {
	text-decoration: none;
}
.b-reviews__bottom {
	margin-top: 15px;
}
.b-reviews__name {
	font-weight: 300;
	font-size: 12px;
	float: left;	
}
.b-reviews__date {
	font-weight: 300;
	font-size: 12px;
	float: right;
}
.b-reviews_sm {
	border: none;
	padding: 40px 0;
}
.b-reviews_sm .b-reviews__about {
	display: block;
	margin-right: 0;
	margin-bottom: 5px;
}
.b-reviews_sm .b-reviews__desc {
	width: 70%;	
	float: left;
}
.b-reviews_sm .b-reviews__date {
	float: none;
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){}
@media (max-width: 767px){
	.b-filter .bootstrap-select {
		float: none!important;
		margin-top: 10px;
	}	
}
@media (max-width: 575px){
	.b-reviews__ava {
		float: none;
		margin: 0 auto 20px;
	}
	.b-reviews__desc {
		float: none;
		padding-left: 0;
		width: 100%;
	}
	.b-reviews__about {
		font-size: 14px;
	}	
	.b-reviews__text {
		font-size: 13px;
	}
	.b-reviews__name {
		float: none
	}
	.b-reviews__date {
		float: none;
		margin-top: 10px;
	}
}
@media (max-width: 480px){}
