/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-result`
 ========================================================================== */
.b-result-inner {
	padding: 25px 0;
}
.b-result-heading {
	font-size: 16px;
	color: #525252;
	margin-top: -5px;
}
.b-result {
	border-bottom: solid 2px #f1f1f1;
	padding: 15px 0;
}
.b-result:last-child {
	border-bottom: none;
}
.b-result__img {
	border: solid 2px #f4811f;
	width: 150px;
	height: 150px;
	margin-right: 10px;
	display: block;
	float: left;
}
.b-result__img img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.b-result__content {
	overflow: hidden;
}
.b-result__title {
	font-size: 16px;
	font-weight: bold;
	color: #f4811f;
	margin-bottom: 5px;
	display: block
}
.b-result__title:hover {
	text-decoration: underline;
}
.b-result__desc {
	font-size: 14px;
	color: #525252;
	margin-bottom: 5px;
}
.b-result__date {
	font-size: 12px;
	font-weight: 300;
	color: #a3a3a3;
}
.b-result__price {
	font-size: 16px;
	font-weight: bold;
	color: #f4811f;
	margin-bottom: 5px;
}
.b-result__text {
	font-size: 12px;
	font-weight: 300;
	color: #f4811f;
	margin-bottom: 3px;
}
.b-result__stars .br-theme-fontawesome-stars .br-widget a {
	font-size: 15px;
}
.b-result__status {
	display: inline-block;
	vertical-align: middle;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.b-result__btn {
	font-size: 15px;
	height: 30px;
	padding: 3px 10px;
}

 
 
/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){

}
@media (max-width: 767px){

}
@media (max-width: 575px){}
@media (max-width: 480px){}
