/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-safity`
 ========================================================================== */
.b-safity {
	background-color: #fff;
	padding: 15px;
}
.b-safity__icon {
	width: 33px;
	display: inline-block;
	vertical-align: middle;
}
.b-safity__title {
	font-size: 16px;
	font-weight: bold;
	color: #f4811f;	
	text-transform: uppercase;	
	display: inline-block;
	vertical-align: middle;
	width: 85%;
}
.b-safity__text {
	font-size: 15px;
	color: #525252;	
	margin-top: 10px;
	min-height: 65px;
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){
	.b-safity__title {
		font-size: 14px;
		width: 80%;
	}	
	.b-safity__text {
		min-height: 105px;
	}
}
@media (max-width: 767px){
	.b-safity__title {
		font-size: 14px;
		width: 80%;
	}
	.b-safity__text {
		min-height: 65px;
	}
}
@media (max-width: 575px){}
@media (max-width: 480px){}
