/* ========================================================================
   Component: Block
 ========================================================================== */
/* Sub-object: `b-user-page`
 ========================================================================== */
.b-user__heading {
	border-bottom: 2px solid #f1f1f1;
	padding: 10px 0;
}
.b-user__heading-title {
	font-size: 16px;
	font-weight: 600;
	float: left;
}
.b-user__edit {
	font-size: 16px;
	font-weight: 300;
	color: inherit;
	float: right;
}
.b-user__content {
	padding: 15px 0;
}
.b-user__desc {
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 7px;
}
.b-user__desc-title {
	font-weight: 300;
	font-size: 15px;
	display: inline-block;
}
.b-user__map {
	margin-bottom: 15px;
}
.b-user__map a {
	font-size: 15px;
	font-weight: 300;
	color: inherit;
	margin-bottom: 7px;
	display: inline-block;
	text-decoration: underline;
}
.b-user__map a:hover {
	text-decoration: none;
}
.b-user__map-inner {
	height:243px;
	border: 1px solid #f4811f;
}
.b-user__divider {
	height: 2px;
	background-color: #f1f1f1;
	border: none;
	margin: 10px 0;
}
.b-user-rate__item {
	display: inline-block;
	position: relative;
	margin-top: 70px;
}
.b-user-rate__star {
	width: 124px;
	height: 116px;
	font-weight: 700;
	font-size: 16px;
	color: #f4811f;
	position: absolute;
	text-align: center;
	line-height: 116px;
    right: -101px;
    top: -84px;
	background: url(../img/rate.svg) no-repeat;
	background-size: 100%;
}
.b-user__stats {
	font-size: 16px;
	color: #f4811f;
	line-height: 1.4
}
.b-user__link {
	font-size: 16px;
	color: #f4811f;
	text-decoration: underline;
}
.b-user__link:hover {
	text-decoration: none;
}
.b-user-form {
	max-width: 450px;
}
.b-user-form .form-control {
    border: solid 1px #525252;
}
.b-user-form__title {
	font-size: 16px;
	font-weight: 300;
	color: #525252;
	line-height: 1.3;
	margin: 5px 0;
}
 
 

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){	

}
@media (max-width: 767px){

}
@media (max-width: 575px){}
@media (max-width: 480px){}
