/* ========================================================================
   Component: Breadcrumb
 ========================================================================== */
.b-breadcrumb {
    padding: 10px 0;
    margin-bottom: 0;
    background: none;
}
.b-breadcrumb__item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}
.b-breadcrumb__item:before {
	font-family: 'FontAwesome';
	font-size: 13px;
	color: #999;
	content: '\f105';
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0!important;
}
.b-breadcrumb__item:first-child:before {
	display: none;
}
.b-breadcrumb__link {
	font-size: 15px;
	color: #999;
	text-decoration: none;
}
.b-breadcrumb__link:hover,
.b-breadcrumb__link_active {
    color: #f4811f; 
}	

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){	
}
@media (max-width: 767px){
	.breadcrumb {
		float: none;
		margin-bottom: 15px;
	}	
}