/* ========================================================================
   Component: Modal
 ========================================================================== */
.modal-header {
	border: none;
}
.modal .modal-title {
	font-size: 18px;
	color: #525252;
	text-align: left;
}
.modal .modal-title span {
	font-weight: 600;
	color: #f4811f;
}
.modal .close {
	width: 23px;
	height: 23px;
	background: url(../img/modal-close.png) no-repeat;
	opacity: 1;
}

/* Sub-object: `modal-category`
 ========================================================================== */
.modal-category__list {
	text-align: left;
	max-height: 418px;
	overflow: auto;
	border-right: 1px solid #ccc;
}
.modal-category__list_last {
	border-right: none;
}
.modal-category__list li a {
	font-size: 16px;
	color: inherit;
	position: relative;
}
.modal-category__list li a.active:after {
	content: '>';
	color: #f4811f;
	position: absolute;
	right: -15px;
	top: 0;
}
.modal-category__list li a.active {
	font-weight: bold;
}
.modal-category__list li a.active,
.modal-category__list li a:hover {
	color: #f4811f;
} 
/* Sub-object: `modal-rate`
 ========================================================================== */
.modal-rate__star {
	width: 124px;
	height: 116px;
	font-weight: 700;
	font-size: 16px;
	color: #f4811f;
	text-align: center;
	line-height: 116px;
	background: url(../img/rate.svg) no-repeat;
	background-size: 100%;
	margin: 0 auto 15px;
} 
.modal-rate__text {
	font-size: 15px;
	text-align: left;
}
.modal-rate__title {
	font-size: 12px;
	font-weight: 300;
	color: #525252;
	margin: 10px 0 5px;
}
.modal-rate__stars .br-theme-fontawesome-stars .br-widget a {
	font-size: 28px;
}
.modal-rate__form-title {
	font-size: 16px;
	margin-bottom: 10px;
}
.modal-rate__form-textarea {
	min-height: 125px;
	margin-bottom: 10px;
}
/* Sub-object: `modal-login`
 ========================================================================== */
.modal-login .modal-dialog {
	max-width: 320px;
}
.modal-login .login__form {
    width: 100%;
    box-shadow: none;
	display: block;
}
.modal-login .login__form-control {
	height: 32px;
}
.modal-login .bootstrap-select .bs-placeholder {
    height: 32px!important;
}
 
 
 
 
 
 
 
/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){

}
@media (max-width: 767px){
	.modal-category__list {
		border-right: none;
		max-height: 200px;
		border-bottom: 1px solid #ccc;
		padding: 15px 0;
	}
}
@media (max-width: 575px){
	
}
@media (max-width: 480px){

}