/* ========================================================================
   Page: Homepage
 ========================================================================== */
.w-category {
	height: 400px;
	overflow: auto;	
}
.w-category {
	height: 400px;
	overflow: auto;	
}


 
/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){

}
@media (max-width: 575px){	

}
@media (max-width: 480px){

}

