/* ========================================================================
   Page: Login
 ========================================================================== */
.login_main {
	text-align: center;
    width: 100%;
    height: 100vh;
	padding: 40px 0;
}
.login_main:after {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.login__form {
	background-color: #fff;
	width: 290px;
	display: inline-block;
	vertical-align: middle;  
	box-shadow: 0 -4px 12px 1px rgba(0, 0, 0, 0.3);
}
.login__title {
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.3);
	background-color: #f4811f;
	padding: 20px 10px;
	position: relative;
	z-index: 1;
}
.login__collapse {
	font-size: 13px;
	padding: 15px 15px 20px;
}
.login__text {
	font-size: 13px;
	padding: 20px 0 10px;
	position: relative;
}
.login__text:before {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	height: 5px;
	box-shadow: inset 0px -11px 8px -10px #CCC;
}
.login__trigger {
	font-size: 13px;
	font-weight: 300;
	color: inherit;
	text-decoration: underline;
	display: inline-block;
	margin-top: 7px;
}
.login__trigger:hover {
	text-decoration: none
}
.login__trigger:after {
	font-family: 'FontAwesome';
	font-size: 17px;
	color: #999;
	content: '\f107';
	display: inline-block;
	vertical-align: middle;
	width: 100%;
} 
.login__inner {
	width: 210px;
	margin: 0 auto;
	padding: 30px 0 20px;
}
.login__form-group {
	text-align: left;
	width: 100%;
	display: inline-block;
	position: relative;
	margin-bottom: 5px;
}
.login .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	font-size: 12px;
}
.login .bootstrap-select .bs-placeholder {
	height: 26px;
	padding: 0 12px;
}
.login__form-control {
	font-size: 12px;
	outline: none;	
	height: 26px;
	border-radius: 3px;
	border: solid 1px #525252;
	box-shadow: none;
}
.login__form-control::-webkit-input-placeholder,
.login__form-control::-moz-placeholder,
.login__form-control:-ms-input-placeholder,
.login__form-control:-moz-placeholder {
	font-size: 12px;
}
.login__link {
	font-size: 12px;
	color: #f4811f;
	text-decoration: underline;
	margin: 15px 0;
	display: inline-block
}
.login__link:hover {
	text-decoration: none;
}
.login__remember {
	font-size: 12px;
	color: #f4811f;
}
.login__btn {
	width: 100%;
	padding: 5px 0;
}
.login__footer {
	padding: 15px;
	border-top: solid 2px #f4811f;
	min-height: 50px;
}

/* Responsiveness
========================================================================== */
@media (max-width: 1360px){}
@media (max-width: 1200px){}
@media (max-width: 991px){}
@media (max-width: 767px){}
@media (max-width: 575px){}
@media (max-width: 480px){}

