/* ========================================================================
   Component: Base
 ========================================================================== */
/* Default body styles.
 ========================================================================== */
body {
	font-family: 'Open Sans', sans-serif;	
	font-size: 14px;
	color: #525252;
	line-height: 1.42857143;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
	text-rendering: optimizeLegibility;
	margin: 0;
	background-color: #f1f1f1;	
}
/* Add the correct box sizing for all browsers.
 ========================================================================== */
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}
/* Hide play button parent div
 ========================================================================== */
*::-webkit-media-controls-panel {
	display: none!important;
	-webkit-appearance: none;
}
/* Old shadow dom for play button
 ========================================================================== */
*::--webkit-media-controls-play-button {
	display: none!important;
	-webkit-appearance: none;
}
/* New shadow dom for play button
 ========================================================================== */
*::-webkit-media-controls-start-playback-button {
	display: none!important;
	-webkit-appearance: none;
}
/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 ========================================================================== */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
/* Remove the gap between img and the bottom of their containers:
 * h5bp.com/i/440
 ========================================================================== */
img {
   vertical-align: middle;
}
/* Responsive default Images & Other Objects 
 ========================================================================== */
img, object, embed {	
	max-width: 100%;
}
/* Remove default fieldset styles.
 ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
/* Allow only vertical resizing of textareas.
 ========================================================================== */
textarea {
   resize: vertical;
}
/* Chrome Frame prompt.
 ========================================================================== */
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* Clearfix: contain floats
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 ========================================================================== */
.clearfix:before,
.clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}
.clearfix:after {
   clear: both;
}
/* For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 ========================================================================== */
.clearfix {
   *zoom: 1;
}
/* Remove default ul styles.
 ========================================================================== */
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* Styling Headings.
 ========================================================================== */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
/* Add the correct box sizing and remove padding for inputs.
 ========================================================================== */
input[type=text], input[type=search], input[type=checkbox], input[type=radio], output {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}
/* Remove the blue styling of telephone numbers.
 ========================================================================== */
a[href^=tel] {
	color: inherit;
	text-decoration: none;
}
/* Styling links.
 ========================================================================== */
a {
	text-decoration: none;
	transition: all 0.10s ease-out;  
	outline: none;
}
/* Scrollbar styling.
 ========================================================================== */
::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	background-color: #e4e8f5;
}
::-webkit-scrollbar-thumb {
	background-color: #525252;
	width: 2px; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c5c;
}
/* Go to Top.
 ========================================================================== */
.go-to-top {
	display: none;
	width: 40px;
	height: 40px;
	background: #515151;
	border-radius: 5px;
	line-height: 40px;
	text-align: center;
	position: fixed;
	z-index: 1000;
	bottom: 70px;
	right: 5%;
}
.go-to-top:before {
	font-family: 'FontAwesome';
	font-size: 33px;
	color: #fff;
	content: '\f106';
}
.go-to-top:hover {
    background: rgba(33, 51, 54, 0.4);
}
/* Responsive video.
 ========================================================================== */
.video-responsive {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; 
	height: 0; 
	overflow: hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Section Heading.
 ========================================================================== */
.b-heading {
	border-bottom: solid 2px #f4811f;
}
.b-heading_noborder {
	border-bottom: none;
}
.b-heading__title {
	font-size: 18px;
	font-weight: bold;
	color: #f4811f;
	padding-bottom: 10px;
	float: left;
}
.b-heading__link {
	font-size: 18px;
	float: right;
	color: #f4811f;
	text-decoration: underline;
	display: block;
}
.b-heading__link:hover {
	text-decoration: none;
}
.b-heading__text {}
@media (max-width: 767px){
	.b-heading__title {
		float: none;
	}	
	.b-heading__link {
		font-size: 14px;
		float: none;
		margin-bottom: 5px;
	}	
}
/* page Heading.
 ========================================================================== */
.b-page-heading {
	font-weight: 600;
	font-size: 17px;
	color: #fff;
	background-color: #f3811e;
	padding: 10px 15px;
	display: block;
}
/* Layout.
 ========================================================================== */
.b-center-col {
	background-color: #fff;
	padding: 0 15px;
}
/* Hack for sticky footer.
 ========================================================================== */
html, body {
	height: 100%;
}
.b-wrapper {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -40px; 	
}
.b-wrapper:after {
	content: "";
	display: block;
}
.b-footer, .b-wrapper:after {
	/* .push must be the same height as footer */
	height: 40px; 
}


