/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file */

@font-face {
	font-family: 'DINNextLTPro-Regular';
		src:url('../fonts/DINNextLTPro-Regular.eot');
		src:url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
			url('../fonts/DINNextLTPro-Regular.ttf') format('truetype'),
			url('../fonts/DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINNextLTPro-Medium';
		src:url('../fonts/DINNextLTPro-Medium.eot');
		src:url('../fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/DINNextLTPro-Medium.woff') format('woff'),
			url('../fonts/DINNextLTPro-Medium.ttf') format('truetype'),
			url('../fonts/DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINNextLTPro-Bold';
		src:url('../fonts/DINNextLTPro-Bold.eot');
		src:url('../fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/DINNextLTPro-Bold.woff') format('woff'),
			url('../fonts/DINNextLTPro-Bold.ttf') format('truetype'),
			url('../fonts/DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINNextLTPro-Condensed';
		src:url('../fonts/DINNextLTPro-Condensed.eot');
		src:url('../fonts/DINNextLTPro-Condensed.eot?#iefix') format('embedded-opentype'),
			url('../fonts/DINNextLTPro-Condensed.woff') format('woff'),
			url('../fonts/DINNextLTPro-Condensed.ttf') format('truetype'),
			url('../fonts/DINNextLTPro-Condensed.svg#DINNextLTPro-Condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINNextLTPro-MediumCond';
		src:url('../fonts/DINNextLTPro-MediumCond.eot');
		src:url('../fonts/DINNextLTPro-MediumCond.eot?#iefix') format('embedded-opentype'),
			url('../fonts/DINNextLTPro-MediumCond.woff') format('woff'),
			url('../fonts/DINNextLTPro-MediumCond.ttf') format('truetype'),
			url('../fonts/DINNextLTPro-MediumCond.svg#DINNextLTPro-MediumCond') format('svg');
	font-weight: normal;
	font-style: normal;
}