/* ========================================================================
   Component: b-alert
 ========================================================================== */
.b-alert {
	margin-bottom: 10px;
	background: none!important;
	padding: 10px 15px;
}
.b-alert__close {
	text-align: center;
    float: right;
    font-size: 23px;
    font-weight: 600;
	line-height: 19px;
	width: 23px;
	height: 23px;
	border: 2px solid transparent;
	border-radius: 6px;
}
.b-alert__success {
    background-color: #fff;
    border-color: #ef6c19;
	border-width: 2px;
    color: #ef6c19;
}
.b-alert__success .b-alert__close {
    border-color: #ef6c19;
    color: #ef6c19;
}
.b-alert__danger {
    background-color: #fff;
    border-color: #fb0007;
	border-width: 2px;
    color: #fb0007;
}
.b-alert__danger .b-alert__close {
    border-color: #fb0007;
    color: #fb0007;
}